{% load coffeescript dajaxice_templatetags %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Products</title>
    <link href="{{STATIC_URL}}css/products-0.2.css" rel="stylesheet">
  </head>

  <body>
    <div class="nav-bar">
      <span class="nav-pad60"></span>
      <a class="nav-brand" href="http://ilas.ru/">На главную</a>
      <a class="nav-ref" href="#">Продукты</a>
      <a class="nav-ref nav-active" href="#">Настройки</a>


      <span class="nav-pad60 nav-right"></span>

      <div class="nav-item nav-right">
        <a class="nav-ref" href="#">Вход</a>
        <div class="nav-sub-menu-item sub-menu-form">
         fsdf sdf d
        </div>
      </div>

      <div class="nav-item nav-right">
        <a class="nav-ref" href="#">Регистрация</a>
        <div class="nav-sub-menu-item sub-menu-form reg-form">
         fsdf sdf d
         <input></input>
        </div>
      </div>
    </div>

    <div class="layout">
      <div class="left-container"></div>
      <div class="midle-container"></div>
    </div>

    <script src="{{STATIC_URL}}js/jquery-2.0.3.mix.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-treeview.min.js"></script>
    {% dajaxice_js_import %}
    <script type="text/javascript" src="{{ STATIC_URL}}{% coffeescript "js/style.coffee" %}"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}{% coffeescript "js/products.coffee" %}"></script>
  </body>
</html>
