{% load coffeescript dajaxice_templatetags %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Products</title>
    <link href="{{STATIC_URL}}css/products-0.2.css" rel="stylesheet">
  </head>

  <body>
    <div class="nav-bar">
      <span class="nav-pad60"></span>
      <a class="nav-brand" href="http://ilas.ru/">На главную</a>
      <a class="nav-ref" href="#">Продукты</a>
      <a class="nav-ref nav-active" href="#">Настройки</a>
      <span class="nav-pad60 nav-right"></span>
      <div class="nav-item nav-right">
        <a class="nav-ref" href="#">Вход</a>
        <div class="nav-sub-menu-item sub-menu-form">
          Форма входа
        </div>
      </div>
      <div class="nav-item nav-right">
        <a class="nav-ref" href="#">Регистрация</a>
        <div class="nav-sub-menu-item sub-menu-form reg-form">
          Форма регистрации
        </div>
      </div>
    </div>

    <div class="layout">

      <div class="left-container">
        <div class="view-mode">
          <select id="view-mode-select">
            <option value="cmp-table">Сводная</option>
            <option value="cmp-less">Кратко</option>
            <option value="edit-table">Редактирование</option>
          </select>
        </div>
        <div class="tree-filter"></div>
      </div>

      <div class="midle-container">
        <div class="less-compare">
          <div>
            <div class="header header-name">Наименование</div>
            <div class="header header-min">Минимальная цена</div>
            <div class="header header-max">Максимальная цена</div>
          </div>



          <div>

            <div class="row row-name">
              <div class="product">
                <p class="shop-name">Батон нарезной</p>
                <p class="shop-address"><a href="#">Подробнее</a></p>
              </div>
            </div>

            <div class="row row-min">
              <div class="shop">
                <p class="shop-name">Магнит</p>
                <p class="shop-address">Советская 10</p>
              </div>
              <div class="cost">12,50</div>
            </div>

            <div class="row row-max">
              <div class="shop">
                <p class="shop-name">Магнит</p>
                <p class="shop-address">Советская 10</p>
              </div>
              <div class="cost">12,50</div>
            </div>


            <div class="details-wrap">
            <div class="details">

              <p class="product-name">Цены в магазинах на: Батон нарезной</p>

              <div class="shop-detail min">
                <div class="shop">
                  <p class="shop-name">Магнит</p>
                  <p class="shop-address">Советская 10</p>
                </div>
                <div class="cost">12,50</div>
              </div>

              <div class="shop-detail">
                <div class="shop">
                  <p class="shop-name">Магнит</p>
                  <p class="shop-address">Советская 10</p>
                </div>
                <div class="cost">12,50</div>
              </div>

              <div class="shop-detail">
                <div class="shop">
                  <p class="shop-name">Магнит</p>
                  <p class="shop-address">Советская 10</p>
                </div>
                <div class="cost">12,50</div>
              </div>

              <div class="shop-detail">
                <div class="shop">
                  <p class="shop-name">Магнит</p>
                  <p class="shop-address">Советская 10</p>
                </div>
                <div class="cost">12,50</div>
              </div>

              <div class="shop-detail">
                <div class="shop">
                  <p class="shop-name">Магнит</p>
                  <p class="shop-address">Советская 10</p>
                </div>
                <div class="cost">12,50</div>
              </div>              

              <div class="shop-detail">
                <div class="shop">
                  <p class="shop-name">Магнит</p>
                  <p class="shop-address">Советская 10</p>
                </div>
                <div class="cost">12,50</div>
              </div>

              <div class="shop-detail max">
                <div class="shop">
                  <p class="shop-name">Магнит</p>
                  <p class="shop-address">Советская 10</p>
                </div>
                <div class="cost">12,50</div>
              </div>

            </div>
            </div>

          </div>







          <div>

            <div class="row row-name">
              <div class="product">
                <p class="shop-name">Батон нарезной</p>
                <p class="shop-address"><a href="#">Подробнее</a></p>
              </div>
            </div>

            <div class="row row-min">
              <div class="shop">
                <p class="shop-name">Магнит</p>
                <p class="shop-address">Советская 10</p>
              </div>
              <div class="cost">12,50</div>
            </div>

            <div class="row row-max">
              <div class="shop">
                <p class="shop-name">Магнит</p>
                <p class="shop-address">Советская 10</p>
              </div>
              <div class="cost">12,50</div>
            </div>


            <div class="details-wrap">
<!--            
            <div class="details">

              <div class="shop-detail">
                <div class="shop">
                  <p class="shop-name">Магнит</p>
                  <p class="shop-address">Советская 10</p>
                </div>
                <div class="cost">12,50</div>
              </div>

              <div class="shop-detail">
                <div class="shop">
                  <p class="shop-name">Магнит</p>
                  <p class="shop-address">Советская 10</p>
                </div>
                <div class="cost">12,50</div>
              </div>

            </div>
-->
            </div>

          </div>








        </div>        
      </div>

    </div>

    <script src="{{STATIC_URL}}js/jquery-2.0.3.mix.js"></script>
    {% dajaxice_js_import %}
    <script type="text/javascript" src="{{ STATIC_URL}}{% coffeescript "js/tree-view.coffee" %}"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}{% coffeescript "js/style.coffee" %}"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}{% coffeescript "js/products.coffee" %}"></script>
  </body>
</html>
