{% load coffeescript dajaxice_templatetags %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Products</title>
    <link href="{{STATIC_URL}}css/products-0.2.css" rel="stylesheet">
  </head>

  <body>
    <div class="nav-bar">
      <span class="navbar-pad"></span>
      <span class="navbar-pad"></span>
      <span class="navbar-pad"></span>
      <a class="navbar-brand" href="http://ilas.ru/">На главную</a>
      <a class="navbar-ref" href="http://ilas.ru/">Продукты</a>
      <a class="navbar-ref navbar-active" href="http://ilas.ru/">Настройки</a>
      <span class="navbar-pad"></span>
      <span class="navbar-pad"></span>
      <span class="navbar-pad"></span>
      <div class="navbar-item">
        <a class="navbar-ref" href="http://ilas.ru/">Вход</a>
        <div class="navbar-sub-menu-item">
         fsdf sdf d
        </div>
      </div>
      <div class="navbar-item">
        <a class="navbar-ref" href="http://ilas.ru/">Регистрация</a>
        <div class="navbar-sub-menu-item">
         fsdf sdf d
        </div>
      </div>
    </div>

    <div class="layout">
      <div class="left-container">
        <ul class="tree-view">
          <li>
            <span class="expanded"></span>             
            <span class="text">Продукты</span> 
          </li>
          <li class="">
            <span class="ident"></span>
            <span class="expanded"></span>
            <span class="text">Молочные</span>
          </li>
          <li class="selected">
            <span class="ident"></span>
            <span class="ident"></span>
            <span class="closed"></span>
            <span class="text">Молоко</span>
          </li>
        </ul>
      </div>
      <div class="midle-container"></div>
    </div>

    <script src="{{STATIC_URL}}js/jquery-2.0.3.mix.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-treeview.min.js"></script>
    {% dajaxice_js_import %}
    <script type="text/javascript" src="{{ STATIC_URL}}{% coffeescript "js/products.coffee" %}"></script>
  </body>
</html>
