<table class="table table-hover">
  <thead>
    <tr>
      <th> Товар </th>
      <th> Min </th>
      <th> Max </th>
      {% for shop in shop_list %}
        <th>
          {{ shop.title }}
          <br>
          <span class="shop-address">{{ shop.address }}</span>
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for product in compare_list %}
        <tr>
            <td class="cell-border">{{ product.title }}</td>
            <td class="cell-border mix-max">{{ product.min.price }}</td>
            <td class="right-border-strong mix-max">{{ product.max.price }}</td>
            {% for price in product.by_shop %}
              {% if price.price %}
                <td class="{% if price.max %}max-cost{% endif %} {% if price.min %}min-cost{% endif %} cell-border">
                  {{ price.price }}
                </td>
              {% else %}
                <td class="right-border"></td>
              {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
  </tbody>
</table>
