<table class="compare-table">
  <thead>
    <tr>
      <th> Товар <br> <a href="#" class="show-address">Адреса</a></th>
      <th> Min </th>
      <th> Max </th>
      {% for shop in shop_list %}
        <th>
          {{ shop.title }}
          <p class="shop-address hiden">{{ shop.address }}</p>
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for product in compare_list %}
        <tr>
            <td class="fix-cell">{{ product.title }}</td>
            <td class="fix-cell">{{ product.min.price }}</td>
            <td class="fix-cell right-border-strong">{{ product.max.price }}</td>
            {% for price in product.by_shop %}
              {% if price.price %}
                <td class="{% if price.max %}max-cost{% endif %} {% if price.min %}min-cost{% endif %}">
                  {{ price.price }}
                </td>
              {% else %}
                <td></td>
              {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
  </tbody>
</table>
