<table class="edit-table">

  <thead>
    <tr>
      <th> Товар </th>
      {% for shop in shop_list %}
        <th>
          {{ shop.title }}
          <br>
          <span class="shop-address">{{ shop.address }}</span>
        </th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for product in compare_list %}
        <tr>
            <td>{{ product.title }}</td>
            {% for price in product.by_shop %}
                <td>
                  <input
                    type="text"
                    class="price"
                    value="{% if price.price %}{{ price.price }}{% endif %}"
                    product_pk="{{ price.product_pk }}"
                    shop_pk="{{ price.shop_pk }}"
                    edited="False"
                  >
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
  </tbody>

</table>

<div class="edit-controls">
  <a href="#" class="btn btn-primary" id="edit-tables-seve-btn">Сохранить</a>
</div>
