<table class="less-cmp-table">

  <thead>
    <tr>
      <th>Наименование</th>
      <th>Минимальная цена</th>
      <th>Максимальная цена</th>
    </tr>
  </thead>

  <tbody>
    {% for product in product_list %}

      <tr class="list">
        <td>
          <p class="product-name">{{ product.title }}</p>
          <p class="shop-address">
            <a href="#" class="show-product-detail" tr="#less-tr-detail-{{ product.pk }}" productpk="{{ product.pk }}">Подробнее</a>
          </p>
        </td>
        <td class="min">
          <div class="shop">
            <p class="shop-name">{{ product.get_min_cost.shop.title }}</p>
            <p class="shop-address">{{ product.get_min_cost.shop.address }}</p>
          </div>
          <div class="cost">{{ product.get_min_cost.price }}</div>
        </td>
        <td class="max">
          <div class="shop">
            <p class="shop-name">{{ product.get_max_cost.shop.title }}</p>
            <p class="shop-address">{{ product.get_max_cost.shop.address }}</p>
          </div>
          <div class="cost">{{ product.get_max_cost.price }}</div>
        </td>
      </tr>

      <tr class="detail hide" id="less-tr-detail-{{ product.pk }}">
        <td colspan="3"></td>
      </tr>

    {% endfor %}
  </tbody>

</table>
