body {
    background-color: #FFFFFF;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;

    margin: 0;
    padding-top: 50px;
}

/* Start layout style */

.layout {
    position: relative;
}

.layout DIV {
    position: absolute;
}

.left-container {
    width: 200px;
}

.midle-container {
    left: 200px;
    right: 0;
}

/* End layout style */

/* Start navbar */

.nav-bar {
    min-height: 50px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #E7E7E7;

    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
}

.nav-brand {
    text-decoration: none;
    color: #777777;
    font-size: 18px;

    padding: 10px;
    display: inline-block;
}

.nav-ref {
    text-decoration: none;
    color: #777777;
    font-size: 14px;
    line-height: 30px;

    padding: 10px;
    display: inline-block;
}

.nav-ref:hover {
    color: #000000;
}

.nav-active {
    background-color: #E7E7E7;
}

.nav-pad60 {
    display: inline-block;
    padding-left: 60px;
    min-height: 10px;
}

.nav-item {
    display: inline-block;
    position: relative;
}

.nav-sub-menu-item {
    display: none;
    position: absolute;

    border: 1px solid #E7E7E7;
    padding: 10px;
}

/*
.nav-item:hover .nav-sub-menu-item {
    display: block;
}
*/

.nav-right {
    float: right;
}

/* End navbar */


.reg-form {
    width: 200px;
    height: 300px;
    left: -50px;
}


/* Start tree view */

.tree-view {
    margin-left: 0;
    padding-left: 10px;
}

.tree-view li {
    list-style-type: none;
    padding: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

.tree-view .selected {
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
}

.tree-view li:hover {
    border: 1px solid #CCCCCC;
}

.tree-view .ident {
    margin-left: 20px;
}

.tree-view .text {
    font-size: 14px;
}

.tree-view .expanded {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: red;
}

.tree-view .closed {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: black;
}

.tree-view .hided {
    display: none;
}

/* End tree view */