body {
    background-color: #FFFFFF;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;

    margin: 0;
    padding-top: 50px;
}

/* Start layout style */

.layout {
    position: relative;
}

.layout .left-container, .midle-container {
    position: absolute;
}

.left-container {
    width: 200px;
    padding-left: 10px;
}

.midle-container {
    left: 220px;
    right: 0;
}

/* End layout style */

/* Start navbar */

.nav-bar {
    min-height: 50px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #E7E7E7;

    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
}

.nav-brand {
    text-decoration: none;
    color: #777777;
    font-size: 18px;

    padding: 10px;
    display: inline-block;
}

.nav-ref {
    text-decoration: none;
    color: #777777;
    font-size: 14px;
    line-height: 30px;

    padding: 10px;
    display: inline-block;
}

.nav-ref:hover {
    color: #000000;
}

.nav-active {
    background-color: #E7E7E7;
}

.nav-pad60 {
    display: inline-block;
    padding-left: 60px;
    min-height: 10px;
}

.nav-item {
    display: inline-block;
    position: relative;
}

.nav-sub-menu-item {
    display: none;
    position: absolute;

    border: 1px solid #E7E7E7;
    padding: 10px;
}

/*
.nav-item:hover .nav-sub-menu-item {
    display: block;
}
*/

.nav-right {
    float: right;
}

/* End navbar */


.reg-form {
    width: 200px;
    height: 300px;
    left: -50px;
}


/* Start tree view */

.tree-filter {
    padding-top: 10px;
}

.tree-view {
    padding: 0px;
    margin: 0;
}

.tree-view li {
    list-style-type: none;
    padding: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

.tree-view .selected {
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
}

.tree-view li:hover {
    border: 1px solid #000000;
}

.tree-view .ident {
    margin-left: 20px;
}

.tree-view .text {
    font-size: 14px;
}

.tree-view .expanded {
    width: 13px;
    height: 13px;
    display: inline-block;
    background-image: url(../img/minus.png)
}

.tree-view .collapsed {
    width: 13px;
    height: 13px;
    display: inline-block;
    background-image: url(../img/pluse.png)
}

.tree-view .hiden {
    display: none;
}

.tree-view .node-text {
    padding-left: 10px;
}

/* End tree view */

/* Start compare table */

.compare-table  {
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 14px;
}

.compare-table  th {
    border: 1px solid #E7E7E7;
    background-color: #F8F8F8;
    vertical-align: top;
    padding: 10px;
}

.compare-table  td {
    border: 1px solid #E7E7E7;
    vertical-align: middle;
    padding: 10px;
}

.compare-table .shop-address {
    font-size: 10px;
    font-weight: normal;
}

.compare-table .right-border-strong {
    border-right: 1px solid black;
}

.compare-table .max-cost {
    background-color: #D2B48C;
    font-weight: bold;
}

.compare-table .min-cost {
    background-color: #54FF9F;
    font-weight: bold;   
}

.compare-table .fix-cell {
    background-color: #F8F8F8;
}

/* End compare table */


/* Start view mode selector */

.view-mode {
    padding-top: 20px;
}

/* End view mode selector */
